

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherInfo {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #333;
}

#weatherInfo h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

#weatherInfo p {
    margin: 8px 0;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 200px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #0056b3;
}
